body {
    font-family: "Guardian TextEgyp", "Droid Sans", sans-serif;
    font-weight: lighter;
}

h1, h2 {
    font-family: "Guardian Egyp Medium", "Droid Serif", serif;
}

h1 {
    font-size: 3em;
}

h2{
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

.container {
    position: relative;
    max-width: 75%;
    margin: 0 auto 5%;
}

.container p, h1 {
    width: 80%;
    text-align: justify;
    margin: 30px auto 5px;
    line-height: 26px;
}
#parallaxbg {
    margin-top: 20px;
    width: 100%;
    background-image: url("forestblurry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.scene {
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 480px), only screen and (max-width: 480px) {
    .container {
        max-width: 100%;
    }
}